form {
  width: 55%;
  margin: 2rem auto 0 auto;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
  color: rgb(179, 179, 179);
}

.form {
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: start;
}

button {
  margin-top: 0.4rem;
  margin-right: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
