<form>
  <h1>ATUALIZAR CATEGORIA</h1>

  <mat-form-field class="form" appearance="outline" color="accent">
    <mat-label>Nome:</mat-label>
    <input
      matInput
      [(ngModel)]="categorie.name"
      type="text"
      name="name"
      placeholder="Ex:Computação"
    />
  </mat-form-field>
  <mat-form-field class="form" appearance="outline" color="accent">
    <mat-label>Descrição:</mat-label>
    <input
      matInput
      [(ngModel)]="categorie.description"
      type="text"
      name="description"
      placeholder="Ex:Livros de Computação"
    />
  </mat-form-field>

  <div class="buttons">
    <button (click)="update()" mat-raised-button color="accent">ATUALIZAR</button>
    <button (click)="cancel()" mat-raised-button color="warn">VOLTAR</button>
  </div>
</form>
