    .content{
        width: 90%;
        margin: 1.4rem auto;
    }

    .title{
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 3.5rem;
    }

    .title h1{
        font-size: 1.8rem;
        color: rgb(198, 199, 198);
        font-weight: 400;
        letter-spacing: 0.78rem;
    }

    button{
        margin-bottom: .8rem;
    }

    .table{
        width:100%;
    }

    .books{
        margin-left: .3rem;
        color: rgba(214, 180, 29, 0.87);
    }

    .edit{
        color: rgb(204, 110, 48)
    }

    .delete{
        color: rgb(221, 81, 81);
        margin-left: .5rem;
    }

    .math-header{
        width: 5rem;
    }

   

