<form>
    <h1> INSERIR LIVRO</h1>

    <mat-form-field class="form" appearance="outline" color="accent">
        <mat-label>Titulo:</mat-label>
        <input matInput type="text" name="title" maxlength="100" placeholder="Ex: Game of Thrones...">
    </mat-form-field>

    <mat-form-field class="form" appearance="outline" color="accent">
        <mat-label>Nome do autor:</mat-label>
        <input matInput type="text" name="authorName"  maxlength="100" placeholder="Ex: George R. R. Martin...">
    </mat-form-field>

    <mat-form-field class="form" appearance="outline" color="accent">
        <mat-label>Descrição:</mat-label>
        <input matInput type="text" name="description" style="height:80px" maxlength="2000000" placeholder="A guerra dos tronos é o primeiro livro da série best-seller internacional As Crônicas de Gelo e Fogo, que deu origem à adaptação de sucesso da HBO, Game of Thrones.">
    </mat-form-field>
    
    <div class="buttons">
        <button  mat-raised-button color="accent">INSERIR CATEGORIA</button>
        <button  mat-raised-button  color="warn">VOLTAR</button>

    </div>


</form> 